main {
    height: 520px;
    padding-top: 13rem;
}

main::-webkit-scrollbar {
    width: 0;
}

.main-content-login {
    padding: 0.4rem;
    text-align: center;
}

#logo {
    width: 100%;
    padding: 1rem 2rem;
}