main::-webkit-scrollbar {
    width: 0;
}

.profile-image{    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.profile-image img{
    height: 60px;
    width: 60px;
}

.fas {
    position: absolute;
    top: 0;
    right: 90px;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content-profile {
    padding: 0.4rem;
    text-align: center;
    width: 100%;
}