main {
    height: 520px;
    padding-top: 8rem;
}

main::-webkit-scrollbar {
    width: 0;
}

.main-content-signup-email {
    padding: 0.4rem;
    text-align: center;
}

label {
    color: #3BC4E1;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

input {
    display: block;
    height: 2.4rem;
    border: 1px solid #909090;
    border-radius: 1.2rem;
    margin: 0.25rem auto;
    padding: 0.7rem 0.85rem;
    text-align: center;
    width: 90%;
}

button {
    background: #3BC4E1;
    border: 1px solid #3BC4E1;
    display: block;
    height: 3rem;
    border-radius: 1.5rem;
    margin: 1.5rem auto;
    padding: 0.7rem 0.85rem;
    text-align: center;
    width: 14rem;
}

#logo {
    width: 100%;
    padding: 1rem 2rem;
}